.k-line11-1 {
    animation: k-loadingP 2s infinite;
}
.k-line11-2 {
    animation: k-loadingP 2s infinite;
    animation-delay: .15s;
}
.k-line11-3 {
    animation: k-loadingP 2s infinite;
    animation-delay: .30s;
}
.k-line11-4 {
    animation: k-loadingP 2s infinite;
    animation-delay: .45s;
}
.k-line11-5 {
    animation: k-loadingP 2s infinite;
    animation-delay: .60s;
}
.k-line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

@keyframes k-loadingP
{
    0% {
        transform: translateY(0);
    }
    35% {
        transform: translateY(0);
        opacity: .3;
    }
    50% {
        transform: translateY(-20px);
        opacity: .8;
    }
    70% {
        transform: translateY(3px);
        opacity: .8;
    }
    85% {
        transform: translateY(-3px);
    }
}