html,body{
    background: url(image/background-picture.jpg);
}
table{
    position: relative;
    left: 27%;
    top: 32%;
    width: 650px;
    height: fit-content;
    border: 1px;
    border-style: solid;
    border-spacing: 0;
    box-shadow: 15px 15px 30px blanchedalmond;
    font-family: sans-serif;
    font-size: 22px;
}
tbody tr,th,td{
    border: 1px;
    border-style: solid;
    border-collapse: 0;
}
tfoot{
    font-family: sans-serif;
    font-size: 22px;
}