.content{
    display: inline-block;
    max-width: 800px;
    margin: auto;
}
@keyframes first{
    0%{
        width: 10px;
        height: 90px;
        margin: 0 4px;
        background-color: rgb(42, 229, 253);
        border-radius: 5px;
    }
    50%{
        width: 10px;
        height: 45px;
        margin: 0 4px;
        background-color: rgb(67, 216, 22);
        border-radius: 5px;
    }
    100%{
        width: 10px;
        height: 90px;
        margin: 0 4px;
        background-color: rgb(42, 229, 253);
        border-radius: 5px;
    }
}
@keyframes second{
    0%{
        width: 20px;
        height: 20px;
        margin: 8px;
        background-color: rgb(67, 216, 22);
        border-radius: 50%;
        opacity: 1;
    }
    50%{
        width: 20px;
        height: 20px;
        margin: 8px;
        background-color: rgb(67, 216, 22);
        border-radius: 50%;
        opacity: 0.5;        
    }
    100%{
        width: 20px;
        height: 20px;
        margin: 8px;
        background-color: rgb(67, 216, 22);
        border-radius: 50%;
        opacity: 0;
    }
}
@keyframes third{
    from{
        width: 20px;
        height: 20px;
        margin: 6px;
        background-color: rgb(67, 216, 22);
        border-radius: 50%;
    }
    to{
        width: 4px;
        height: 4px;
        margin: 15px;
        background-color: rgb(232, 252, 227);
        border-radius: 50%;
    }
}
@keyframes forth{
    0%{
        width: 10px;
        height: 10px;
        margin: 8px;
        background-color: rgb(67, 216, 22);
    }
    50%{
        width: 10px;
        height: 10px;
        margin: 8px;
        background-color: rgb(67, 216, 22);
        transform-origin: right bottom;
        transform: rotate(90deg);
    }
    100%{
        width: 10px;
        height: 10px;
        margin: 8px;
        background-color: rgb(67, 216, 22);
        transform-origin: right bottom;
        transform: rotate(90deg);
        opacity: 0;
    }
}
@keyframes seventh{
    0%{
        left: 51px;
        width: 0;
    }
    50%{
        left: 51px;
        width: 170px;
    }
    100%{
        left: 221px;
        width: 0;
    }

}
@keyframes eigth{
    from{
        height: 40px;
        width: 10px;
        margin:2px;
        border-radius:5px 5px 0 0;
        background-color: rgb(67, 216, 22);
    }
    to{
        height: 40px;
        width: 10px;
        margin:2px;
        border-radius:5px 5px 0 0;
        background-color: rgb(232, 252, 227);
    }
}
.loading{
    width: 250px;
    height: 200px;
    margin: 2px;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.load11{
    animation: first 1s linear infinite;
}
.load12{
    animation: first 1s 0.1s linear infinite;
}
.load13{
    animation: first 1s 0.2s linear infinite;
}
.load14{
    animation: first 1s 0.3s linear infinite;
}
.load15{
    animation: first 1s 0.4s linear infinite;
}
.load21{
    animation: second 1s linear infinite;
}
.load22{
    animation: second 1s 0.2s linear infinite;
}
.load23{
    animation: second 1s 0.4s linear infinite;
}
.load24{
    animation: second 1s 0.6s linear infinite;
}
.load25{
    animation: second 1s 0.8s linear infinite;
}
.load31{
    animation: third 1s ease infinite;
}
.load32{
    animation: third 1s 0.1s ease infinite;
}
.load33{
    animation: third 1s 0.2s ease infinite;
}
.load34{
    animation: third 1s 0.3s ease infinite;
}
.load35{
    animation: third 1s 0.4s ease infinite;
}
.load41{
    animation: forth 1s ease infinite;
}
.load42{
    animation: forth 1s 0.1s ease infinite;
}
.load43{
    animation: forth 1s 0.2s ease infinite;
}
.load44{
    animation: forth 1s 0.3s ease infinite;
}
.load45{
    animation: forth 1s 0.4s ease infinite;
}
.load51{
    animation: second 1s linear infinite;
    transform:translate(60px,0);
}
.load52{
    animation: second 1s 0.1s linear infinite;
    transform:translate(45px,30px);
}
.load53{
    animation: second 1s 0.2s linear infinite;
    transform:translate(38px,60px);
}
.load54{
    animation: second 1s 0.3s linear infinite;
    transform:translate(32px,30px);
}
.load55{
    animation: second 1s 0.5s linear infinite;
    transform:translate(2px,-30px);
}
.load56{
    animation: second 1s 0.4s linear infinite;
    transform:translate(-10px,0);
}
.load57{
    animation: second 1s 0.6s linear infinite;
    transform:translate(-87px,-60px);
}
.load58{
    animation: second 1s 0.7s linear infinite;
    transform:translate(-140px,-30px);
}
.load61{
    animation: third 1s linear infinite;
    transform:translate(60px,0);
}
.load62{
    animation: third 1s 0.1s linear infinite;
    transform:translate(45px,30px);
}
.load63{
    animation: third 1s 0.2s linear infinite;
    transform:translate(38px,60px);
}
.load64{
    animation: third 1s 0.3s linear infinite;
    transform:translate(32px,30px);
}
.load65{
    animation: third 1s 0.5s linear infinite;
    transform:translate(2px,-30px);
}
.load66{
    animation: third 1s 0.4s linear infinite;
    transform:translate(-10px,0);
}
.load67{
    animation: third 1s 0.6s linear infinite;
    transform:translate(-87px,-60px);
}
.load68{
    animation: third 1s 0.7s linear infinite;
    transform:translate(-137px,-30px);
}
.load71{
    width: 170px;
    height: 10px;
    background-color: rgb(42, 229, 253);
    border-radius: 5px;
}
.load72{
    height: 10px;
    background-color: rgb(67, 216, 22);
    border-radius: 5px;
    position: absolute;
    animation: seventh 3s linear infinite;
}
.load81{
    animation: eigth 1s linear infinite;
    transform: translate(20px,-15px);
}
.load82{
    animation: eigth 1s 0.1s linear infinite;
}
.load83{
    animation: eigth 1s 0.2s linear infinite;
}
.load84{
    animation: eigth 1s 0.3s linear infinite;
}
.load85{
    animation: eigth 1s 0.4s linear infinite;
}
.load86{
    animation: eigth 1s 0.5s linear infinite;
}
.load87{
    animation: eigth 1s 0.6s linear infinite;
}
.load88{
    animation: eigth 1s 0.7s linear infinite;
}