@font-face{ font-family:myfirstfont; src:url(Georgia.ttf);}
@font-face{ font-family:mysecondfont; src:url(Museo100-Regular.otf)}
body{margin:0;padding:0px;background-color:#CBD4D4;}

#icon1{position:absolute;width:200px;height:100px;left:325px;top:380px;}
#left1{position:absolute; width:200px;height:2px;background-color:#71C5D3;top:429px;left:325px;}	
#icon1_{width:96px;height:96px;margin-top:2px;margin-left:52px;background-image:url(traits.png);background-position:-0px -0px;}

#icon2{
	position:absolute;
	width:200px;
	height:100px;
	left:525px;
	top:380px;
	}
#left2{position:absolute; width:200px;height:2px;background-color:#E7BA3A;top:429px;left:525px;}		
#icon2_{ width:96px;height:96px;margin-top:2px;margin-left:52px;background-image:url(traits.png);background-position:-96px -0px;}

#icon3{
	position:absolute;
	width:200px;
	height:100px;
	left:725px;
	top:380px;
	}
#left3{position:absolute; width:200px;height:2px;background-color:#85C075;top:429px;left:725px;}		
#icon3_{ width:96px;height:96px;margin-top:2px;margin-left:52px;background-image:url(traits.png);background-position:-192px -0px;}

#all{width:1250px;height:1900px;}

#head{width:1000px;height:30px;background-color:#2D3539;margin:0px 125px;}
#h1{width:150px;height:15px;color:gray;float:left;margin:5px 0px 5px 400px;}
#h2{width:56px;height:20px;background-image:url(callbutton_24px.png);background-size:80%;background-repeat:no-repeat;float:left;margin:7px 0px;}
#h3{width:300px;height:23px;background-image:url(icons.png);background-position: -1200px -20px;float:left;margin:3px 0px 0px 0px;}
#page{position:absolute;font-size: 20px;text-align: center;left:425px;top:260px;width:400px;height:20px;color:black;font-family:mysecondfont;font-weight:bold;}

#front{width:1000px;height:400px;background-image:url(home-background-mountains.jpg);background-position:center;background-size:100% 100%;background-repeat:no-repeat;
margin:auto; }
#f1{margin:auto;width:1000px;height:80px; position:absolute; }
#wave{width:1000px;height:320px;background-image:url(wave-pattern-gray.png);opacity:0;}
#combadi{width:130px;height:19px;background:url(combadi-logo-sans.png); position:relative; left:100px;top:30px;}
#serch{width:130px;height:19px; position:relative; left:500px;top:10px; font-family:mysecondfont;font-weight:bold;}
#serch2{width:130px;height:19px; position:relative; left:700px;top:-10px; font-family:mysecondfont;font-weight:bold;color:rgb(160,178,195);}
#serch3{width:40px;height:30px;background-image:url(icons.png);background-position: -136px -17px;position:relative; left:880px;top:-32px;float:left;margin:3px 0px 0px 0px;}
#comback{width:355px;height:104px; position:absolute; left:447px; top:150px; background-image:url(footer-come-back-different.png);}

#mid{width:1000px;height:1050px;background-color:#F6F7F0;margin:auto;}
.meau>h1{font-size:15px;text-align:center;font-weight: normal;font-family:myfirstfont;color:rgb(78,78,77)}
.meau>h2{font-size:20px;text-align:center;font-weight: bold;font-family:myfirstfont;color:rgb(78,78,77)}
#bottom{height:442px;width:1000px;background-image:url(wave-pattern-hor-beige.png);margin:auto;}
.bulm{width:165px;height:160px;float:left;margin:5px 5px;}
#m1{height:140px;width:1000px;}
#m11{width:600px;height:10px;margin:auto;background-image:url(wave-pattern-hor-beige.png); background-repeat:repeat-x;}
#m2{width:700px;height:350px;margin:auto;margin-top:20px; margin-bottom:100px;}
#m3{height:400px;width:700px;margin-top:30px;margin-left:150px;}
.image{width:200px;height:300px;background-color:white;float:left;margin-top:0;margin:0 15px;}
.image>p{font-weight:lighter; color:rgb(32,74,101);font-family:mysecondfont;font-size:17px;}
.text{background:black;margin-top:0px;}
.bulm>p{ font-weight:lighter; color:rgb(32,74,101);font-family:mysecondfont;font-size:12px;}
#m33{width:700px;height:78px; margin:auto; background:url(wave-pattern-hor-beige.png) 0px 35px; background-repeat:repeat-x;}
#icon4{width:72px;height:78px; background-image:url(home-blog-badge.png); background-size:100% 100%; margin-left:314px; background-repeat:no-repeat;}
#btn1{margin-left:0px; margin-top:150px;}
#text1{margin-left:400px; margin-top:150px;}
#spt1{  width:200px; height:40px; background-image:url(combined8.png); background-position:0px 0px; margin-top:80px; margin-left:400px; background-size:135% 100%;}
#spt2{ width:90px; height:40px; background-image:url(combined8.png); background-position:-280px 0px; margin: 5px 400px; }
#spt3{ width:100px; height:80px; background-image:url(tta.png); background-size:100% 100%; float:left; margin:0px 0px 0px 100px}
#spt4{width:355px;height:104px; position:absolute; left:447px; top:1810px; background-image:url(footer-come-back-different.png); }
#sqt5{color:red;font-weight:lighter;font-size:15px;font-family:mysecondfont;position:absolute;top:1500px;left:530px;}
#sqt6{color:black;font-weight:lighter;font-size:15px;font-family:myfirstfont;position:absolute;top:1550px;left:530px;width: 280px;height:20px;}
#nav{color:red;font-weight:lighter;font-size:15px;font-family:mysecondfont;position:absolute;top:1500px;left:220px;}
#nav1{color:black;font-weight:lighter;font-size:15px;font-family:myfirstfont;position:absolute;top:1520px;left:180px;}
#nav2{color:red;font-weight:lighter;font-size:15px;font-family:mysecondfont;position:absolute;top:1700px;left:220px;}
#last{color:black;font-weight:lighter;font-size:15px;font-family:mysecondfont;position:absolute;top:1500px;left:860px;}