body {
  margin: 0;
  padding: 0;
  background-color: #cdcdcd;
  color: #ddd;
}
.box{
  width: 400px;
  border:2px solid #2F3140;
  position: relative;
}
.box::after{
  position: absolute;
  content: '◀';
  border: 1px solid #2F3140;
  width: 33px;
  height: 30px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #2f3140;
  left: 100%;
  color: #1B78BB;
  font-size: 26px;
  top: 50%;
  font-weight: bolder;
  line-height: 28px;
}
header,footer {
  height: 30px;
  line-height: 30px;
  background-color: #1F2638;
}

.flex {
  display: flex;
}

.header {
  width: 100px;
  text-align: center;
  background-color: #1C1E2D;
  height: 28px;
  cursor: pointer;
  border-bottom: 2px solid #128FBD;
}

.header.active {
  background-color: #128FBD;
}

section,header,footer {
  width: 400px;
  /* margin: 0 auto; */
  position: relative;
}

#broad {
  padding-top: 1px;
  height: 400px;
  border: solid #4C4459;
  border-width: 1px 0 2px;
  overflow-y: auto;
}

.chatBox {
  border: 1px solid #0000001a;
  width: 200px;
  min-height: 30px;
  line-height: 30px;
  text-indent: 7px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 5px;
  margin-top: 30px;
  left: 5px;
  background-color: #242A3A;
}

/* .chatBox::before {
  content: 'Somebody:';
  position: absolute;
  left: -13px;
  top: -30px;
} */

.chatBox::after {
  content: ' ';
  display: block;
  position: absolute;
  left: -12px;
  top: 2px;
  border: 6px solid rgba(255, 255, 255, 0.0);
  border-right-color: #242A3A;
}
footer input{
      background-color: #0D0E13;
      border-radius: 5px;
      border-color: rgba(0, 0, 0, 0.01);
      text-indent: 3px;
      margin: 3px;
      height: 20px;
      width: 320px;
      color: white
}
footer button{
  background-color: #25304C;
  border: 1px solid #292f58;
  color: white;
  width: 55px;
  height: 26px;
  cursor: pointer;
}
.bg_img,
.mask {
  background-color: rgba(255, 255, 255, 0.35);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg_img {
  background: url(../icon/bg.jpg) no-repeat 50%;
  background-size: cover;
  filter: blur(55px);
  opacity: 0.5;
  display: block;
}