.wrapp {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #d8d8d8;
}
.k-ring-1 {
    animation: k-loadingD 1.5s .3s cubic-bezier(.17,.37,.43,.67) infinite;
}
.k-ring-1 {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #000;
    border-radius: 100%;
}
@keyframes k-loadingD
{
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}