
.all
{
    position: absolute;
    margin: 0px;
    left: 200px;
    width: 800px;
    background-image: url(background.png);
    background-repeat: repeat-x;
    background-position-y: 100px;
    background-size: auto 140px;
    border:2px solid rgb(245, 198, 143);
}
.left
{
    position: relative;
    margin: 0px;
    top: 0px;
    left: 80px;
    width: 180px;
    height: 900px;
    background-image: url(background.png);
}
.right
{
    position: absolute;
    margin: 0px;
    left:270px;
    top: 100px;
    width: 300px;
    height: 800px;
}
.picture
{
    text-align: center;
    position: relative;
    top: 100px;
}
.left1
{
    position: relative;
    top: 100px;
}
.left_title{font-family: "fangsong";background-color: black;text-align: center;}
.p1{font-size: 25px;font-family: "宋体";color:white;}
.left_content ul li{font-size: 13px;}
h1{font-family: "楷体";font-size: 40px;}
h2{font-family: sans-serif;font-size: 20px;}
.p2{font-family: "fangsong";font-size: 20px;}
.right1
{
    position: relative;
    left: 150px;
}
.right1 ul li{font-size: 13px;font-family: "fangsong"；}
hr{width:510px;height:5px;border:none;border-top:3px ridge rgb(241, 165, 93);}