html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}
.box {
    height: 660px;
    background: url(../img/bg.jpeg);
}
.box .title {
    position: relative;
    top: 18%;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 2.0em;
}
.box .tab {
    position: relative;
    top: 25%;
    left: 20%;
    width: 100%;
    margin: 0 auto;
}
.box .tab th, td {
    background: rgba(250, 250, 250, 0.6)
}
.box .tab th, td {
    width: 100px;
    height: 50px;
    text-align: center;
}

