html,
body{
    background:url(img/bg.jpg)no-repeat center;
    margin:0;
    background-size:cover;
}
header .title1{
    text-align: center;
    height: 40px;
    line-height: 30px;  
    padding: 20px 20px 10px 20px;
    font-size: 30px;
    color: tomato;
}
table{
    text-align: center;
    padding: 10px 0px 0px 80px;
                       
    
}
table thead tr .x0{
    width: 150px;
    height: 30px;
    line-height: 30px;
    border-width:0.2px;
    border-style: solid;
    border-color: rgb(43, 139, 168);
}
table thead tr .order0{
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: coral;
    font-size: 20px;
    border-width:0.2px;
    border-style: solid;
    border-color: rgb(43, 139, 168);
}
table tbody tr th{
    color: orangered;
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    border-width:0.2px;
    border-style: solid;
    border-color: rgb(43, 139, 168);
}

table tbody .order1{
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: rgb(235, 64, 64);
    font-weight: bold;
    border-width:0.2px;
    border-style: solid;
    border-color: rgb(43, 139, 168);
}
table tbody .order2{
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: rgb(50, 243, 24);
    font-weight: bold;
    border-width:0.2px;
    border-style: solid;
    border-color: rgb(43, 139, 168);
}
table tbody .order3{
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: rgb(24, 181, 243);
    font-weight: bold;
    border-width:0.2px;
    border-style: solid; 
    border-color: rgb(43, 139, 168); 
}
table tbody .order4{
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: rgb(57, 9, 97);
    font-weight: bold;
    border-width:0.2px;
    border-style: solid;
    border-color: rgb(43, 139, 168);
}
table tbody .order5{
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: rgb(13, 15, 14);
    font-weight: bold;
    border-width:0.2px;
    border-style: solid;
    border-color: rgb(43, 139, 168);
}