.wrapp {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #d8d8d8;
}
.k-spinner {
    animation: k-loadingI 2s linear infinite;
}
.k-spinner {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.k-bubble-1, .k-bubble-2 {
    animation: k-loadingIb 2s ease-in-out infinite;
    background-color: #ffc107;
}
.k-bubble-1, .k-bubble-2 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #4b9cdb;
}

.k-bubble-2 {
    animation-delay: -1.0s;
}
.k-bubble-2 {
    top: auto;
    bottom: 0;
}



@keyframes k-loadingI
{
    100% {
        transform: rotate(360deg);
    }
}
@keyframes k-loadingIb {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}