html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#warpper {
  padding: 100px;
}
#box {
  width: 540px;
  height: 400px;
  margin: auto;
  padding: 60px 40px 20px;
  border: 15px lightblue solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
#box .item {
  width: 100px;
  height: 360px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1.5px rgba(0, 0, 0, .3);
  border-radius: 10px;
  position: relative;
}
#box .item img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  border-radius: 50%;
}
#box .item div {
  width: 40%;
  height: 180px;
  background: orange;
  margin-top: 30px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 8px;
  position: absolute;
  bottom: 70px;
  transition: all 0.2s linear; 
}
#box .item div .inner {
  width: 100%;
  height: 25px;
  margin: 0px;
  position: absolute;
  top: -27px;
  background: rgba(0, 0, 0, .6);
  color: white;
  border-radius: 8px;
  display: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  font-size: 18px;
}
#box .item div:hover .inner {
  display: block;
}
#box .item button {
  width: 45px;
  height: 45px;
  background-color: lightgreen; 
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  background: url('img/5.Png') no-repeat;
  background-size: 45px 45px;
  position: absolute;
  bottom: 10px;
}
#box #info {
  position: absolute;
  font-size: 24px;
  top: 25px;  
}