h1{
    font-family: Georgia;
    font-size: 40px;
    text-indent: 3cm;

}

h2{
    font-family: serif;
    font-size: 20px;
    text-indent: 0.3cm;
}

h3{
    font-family: fantasy;
    font-size: 25px;
    text-indent: 0.3cm;
}