html,
body{
    margin: 0;
    height: 100%;
    width: 80%;
    font-family: cursive;
}
.box{
    position: relative;
    left: 25%;
    top: 1%;
}
.box .head{
    margin: 0px;
    padding: 0px;
    height: 150px;
    background: aliceblue;
    border-bottom-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-top-left-radius: 14px;
    text-align: center;
}
.box .head .first-line .N-1{  
    font-size: 60px;
    font-weight: bolder;   
}
.box .head .first-line .N-2{
    font-size: 25px;
    font-weight: bolder;
}
.box .head .second-line{
    font-size: 60px;
    line-height: 130%;
    font-weight: bolder;
    color: darkorange;
}
.box .resume {
    background: aliceblue;
    border-bottom-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-top-left-radius: 14px;
}
.box .resume .ul-index{
    font-size: 15px;
}
.box .resume .li-title{
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    list-style-image: url(eg_arrow.gif);
}
.content{
    font-size: 16px;
    line-height: 150%;
}
.box .resume .personal-information{
    column-count: 3;
    column-fill: balance;
}
.box .resume .self-coment p{
    text-align: left;
    text-indent: 2em;
    margin: 0 auto;
}
.box .resume .self-coment p.coment{
    font-weight: 600;
}
